doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li My normal text
      li.
         text hello
         hello lkajlfkajlkfjladfjlajdflkafklfaklfj
      
    block content
